*{
    padding: 0;
    margin: 0;
}
section{
    justify-content: center; 
    margin-left: 100px;
    margin-right: 100px;
}

.section-0 h1{
    font-family:'lora',sans-serif;
    justify-content: center;
    align-items:center;
    padding-left: 500px;
}
.section-0 h2{
    font-family:'lora',sans-serif;
    align-items: start;
} 

.section-1 .card-group{
    display: flex;
    flex-direction: row;
}
.section-1 .card-group img{
    width: 560px;
    height: 360px;
}
.section-1 .card-group .text{
    width: 520px;
    padding-left: 15px;
}

.section-2 .card-group{
    display: flex;
    flex-direction: row;
}
.section-2 .card-group img{
    height: 300px;
}

.section-3 .card-group img{
    height: 300px;
}
.section-3 .card-group .card{
    max-height: 700px;
}
.section-3 .card-group .card h6{
    width: 370px;
    background-color: rgb(49, 137, 238); 
    border: 1px;
    border-radius: 3px;
    padding: 20px 20px 50px 20px;
    margin-bottom: 300px;
}
