*{
    padding: 0;
    margin: 0;
}
section{
    justify-content: center; 
    margin-left: 100px;
    margin-right: 100px;
}

.section-0 h1{
    font-family:'lora',sans-serif;
    justify-content: center;
    align-items:center;
    padding-left: 500px;
}
h2{
    font-family:'lora',sans-serif;
    align-items: start;
} 
h6{
    color: rgb(180, 175, 175);
}

.section-1 .card-group{
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.section-1 .card-group img{
    width: 545px;
    height: 350px;
}

.section-1 .card-group .text{
    width: 545px;
    padding-left: 15px;
}

.section-2 .card-group{
    display: flex;
    flex-direction: row;
}
.section-2 .card-group .card{
    margin:30px;
}
.section-2 .card-group img{
    height: 300px;
}
.section-3 .card-group .card{
    margin: 20px;
}
.section-3 .card-group .card blockquote{
 border: none;
 background-color: rgb(24, 128, 226);
 padding: 10px;
 border-radius: 10px;
}

